@use './reset.scss' as *;
@use '~../utilities/color-helpers' as *;

:root {
  --color-black: 0, 0, 0;
  --color-white: 255, 255, 255;

  --color-level: var(--color-black);
  --color-on-level: var(--color-white);

  --color-black-0: #{lighten(rgb(var(--color-black)), 0%)};
  --color-white-0: #{darken(rgb(var(--color-white)), 0%)};
  --color-black-1: #{lighten(rgb(var(--color-black)), 2.5%)};
  --color-white-1: #{darken(rgb(var(--color-white)), 0%)};
  --color-black-2: #{lighten(rgb(var(--color-black)), 5%)};
  --color-white-2: #{darken(rgb(var(--color-white)), 0%)};
  --color-black-3: #{lighten(rgb(var(--color-black)), 7.5%)};
  --color-white-3: #{darken(rgb(var(--color-white)), 0%)};
  --color-black-4: #{lighten(rgb(var(--color-black)), 10%)};
  --color-white-4: #{darken(rgb(var(--color-white)), 0%)};
  --color-black-5: #{lighten(rgb(var(--color-black)), 12.5%)};
  --color-white-5: #{darken(rgb(var(--color-white)), 0%)};
  --color-black-6: #{lighten(rgb(var(--color-black)), 15%)};
  --color-white-6: #{darken(rgb(var(--color-white)), 0%)};

  --color-primary-0: #111823;

  // Borders
  --brs-tiny: 1px;
  --brs-xsmall: 2px;
  --brs-small: 4px;
  --brs-medium: 10px;
  --brs-large: 20px;
  --brs-full: 10000em;
  --brs-round: 50%;

  // Transitions
  --trs-instant: 0.1s ease-in-out;
  --trs-quick: 0.175s ease-in-out;
  --trs-base: 0.3s ease-in-out;
  --trs-smooth: 0.6s ease-in-out;
  --trs-long: 1.2s ease-in-out;
}

body {
  background: var(--color-primary-0);
  color: var(--color-white-0);
  color-scheme: dark;
}

input {
  background: inherit;
  border: 1px solid rgba(var(--color-on-level), 0.2);
  border-radius: var(--brs-small);
  padding: 0.5em 0.75em;
  font-size: 16px;
  transition: border-color 0.1s ease-in-out;

  &:focus-visible,
  &:hover {
    border-color: rgba(var(--color-on-level), 1);
  }
}

fieldset {
  padding: 0;
  margin: 0;
  margin-top: 2em;
  border: 1px solid rgba(var(--color-on-level), 0.2);
  padding: 1em;
  padding-block-start: 0.3em;

  legend {
    padding: 0 0.5em;
    font-size: 24px;
    font-weight: bold;
  }
}

label {
  display: inline-flex;
  flex-flow: column wrap;
  font-size: 16px;
  font-weight: bold;
}
