.plugin {
  container-type: inline-size;
}

.form {
  display: grid;
  max-width: 100%;
  gap: 1em;
  padding: 1em;

  fieldset {
    padding: 0.5em;

    & + fieldset {
      margin-top: 1em;
    }
  }

  @container (min-width: 900px) {
    grid-template-columns: 1fr clamp(300px, 40svw, 700px);

    fieldset {
      padding: 1em;
    }
  }
}

.info {
  display: flex;
  flex-flow: row wrap;

  > label {
    margin-left: 0.75em;
  }

  .control {
    margin-left: auto;
    align-items: center;
  }
}

.helpers {
  --_margin: 0.5em;
  position: fixed;
  left: var(--_margin);
  top: calc(100svh - var(--_margin));
  translate: 0 -100%;
  z-index: 1;

  > p {
    display: inline-flex;
    flex-flow: row wrap;
    max-width: 70ch;
    line-height: 1.1;
    gap: 0.25em;
    color: var(--color-text-3);
    font-size: 14px;
    margin-top: 1em;
    padding: 1em;
    font-weight: var(--font-weight-light);
    border-radius: var(--brs-medium);
    background: var(--color-primary-2);
    align-items: center;
  }

  code {
    background: var(--color-bg-2);
    border-radius: var(--brs-small);
    font-size: 12px;
    display: inline-block;
    padding: 0.1em 0.3em;
    height: auto;

    & + code {
      margin-left: 0.5em;
    }
  }
}

.sliders {
  display: flex;
  flex-flow: column nowrap;
  container-type: inline-size;
  gap: 0.1em;
}

.slider {
  display: flex;
  padding: 0.5em;
  border-radius: var(--brs-medium);
  transition: background var(--trs-instant);
  flex-flow: row wrap;
  gap: 1em;
  position: relative;

  @container (min-width: 800px) {
    .control {
      margin-left: auto;
      align-items: center;
    }
  }

  &:hover,
  &:focus-within,
  &:focus-visible {
    background: var(--color-bg-1);
  }

  .inputs {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;

    .number {
      width: 80px;
    }
  }
}

.control {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5em;
}

.code {
  position: relative;

  &:hover {
    .pre {
      color: var(--color-text-2);
    }
  }

  .preButton {
    appearance: none;
    padding: 0;
    background: transparent;
    margin: 0;
    text-align: left;
    width: 100%;
  }

  .header {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 0.5em;
    align-items: center;
  }

  .title {
    font-size: 18px;
  }

  .control {
    margin-left: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5em;
  }

  .pre {
    min-height: 85svh;
    font-weight: var(--font-weight-light);
    height: 100%;
    width: 100%;
    max-width: calc(100svw - 2em);
    border-radius: var(--brs-large);
    transition: color var(--trs-quick);
    cursor: url('/assets/copy-paste.png'), auto;

    @container (min-width: 500px) {
      max-height: calc(100vh - 6em);
    }
  }
}

.dropzone {
  position: fixed;
  inset: 0;
  background: rgba(var(--color-primary-rgb), 0.5);
  backdrop-filter: blur(5px);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100svw;
  transition: backdrop-filter var(--trs-quick), opacity var(--trs-quick);

  &:not(.dragActive) {
    opacity: 0;
    pointer-events: none;

    .text {
      translate: 0 10px;
    }
  }

  .line {
    position: absolute;
    inset: 1em;
    border-radius: var(--brs-large);
    border: 3px dashed var(--color-text-8);
    pointer-events: none;
  }

  .text {
    transition: translate var(--trs-quick);
    translate: 0 0;
    font-size: 30px;
    max-width: 30ch;
    font-weight: var(--font-weight-light);
  }
}
