.dialog {
  padding: 0;
  background: transparent;
  display: block;
  position: fixed;
  inset: 0;

  .content {
    background: var(--color-bg-2-solid);
    color: var(--color-text-0);
    padding: 1.5em;
    min-width: clamp(300px, 40svw, 500px);
    max-width: clamp(300px, 40svw, 500px);
    border-radius: var(--brs-medium);
    width: 100%;
    gap: 1em;
    display: flex;
    flex-flow: column nowrap;
    font-weight: var(--font-weight-light);
    outline: none;
    opacity: 0;
    translate: 0 4px;

    @media (max-width: 500px) {
      border-radius: var(--brs-medium) var(--brs-medium) 0 0;
      max-width: none;
      width: 100%;
      bottom: 0;
      top: auto;
    }
  }

  &[open] {
    .content {
      transition: opacity var(--trs-quick), translate var(--trs-quick);
      translate: 0 0;
      opacity: 1;
    }

    &::backdrop {
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
    }
  }

  &::backdrop {
    transition: background var(--trs-base), backdrop-filter var(--trs-base);
    backdrop-filter: blur(0px);
    background: rgba(0, 0, 0, 0);
  }

  .header {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;

    .title {
      font-size: 20px;
      font-weight: var(--font-weight-light);
    }

    .closeIcon {
      --_size: 24px;
      flex-shrink: 0;
      width: var(--_size);
      height: var(--_size);
      border-radius: var(--brs-round);
      padding: 0.25em;
      margin-left: auto;
      margin-top: 4px;
      background: transparent;

      transition: background var(--trs-instant);

      &:focus-visible,
      &:hover {
        background: var(--color-bg-2);
      }
    }
  }
}
