input {
  background: inherit;
  border: 1px solid rgba(var(--color-text-rgb), 0.2);
  border-radius: var(--brs-small);
  padding: 0.5em 0.75em;
  font-size: 16px;
  transition: border-color 0.1s ease-in-out;

  &:focus-visible,
  &:hover {
    border-color: rgba(var(--color-text-rgb), 1);
  }
}

fieldset {
  padding: 0;
  margin: 0;
  border: 1px solid rgba(var(--color-text-rgb), 0.2);
  padding: 1em;
  padding-block-start: 0.3em;
  width: 100%;

  legend {
    padding: 0 0.5em;
    font-size: 24px;
    font-weight: bold;
  }
}

label {
  display: inline-flex;
  flex-flow: column wrap;
  font-size: 16px;
  font-weight: bold;
}

button[data-icon] {
  --_size: 30px;
  width: var(--_size);
  height: var(--_size);
  background: #{rgba(var(--color-text-rgb), 0.3)};
  color: var(--color-text-rgb);
  border-radius: 50%;
  transition: scale var(--trs-instant);
  box-shadow: 0 0 10px transparent;

  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
    background: #{rgba(var(--color-text-rgb), 0.15)};
  }

  &:hover,
  &:focus-visible {
    scale: 1.2;
  }
}
