@use './reset.scss' as *;
@use './form' as *;
@use '~../utils/color-helpers' as *;

:root {
  --color-black-rgb: 0, 0, 0;
  --color-white-rgb: 255, 255, 255;

  // The level 0 is the base color
  // Each level is 5% darker/lighter (depending on schema) than the previous one
  // Background Levels
  --color-bg-rgb: var(--color-black-rgb);
  --color-bg-0: rgba(var(--color-bg-rgb), 1);
  --color-bg-1: rgba(var(--color-text-rgb), 0.05);
  --color-bg-2: rgba(var(--color-text-rgb), 0.1);
  --color-bg-3: rgba(var(--color-text-rgb), 0.15);
  --color-bg-4: rgba(var(--color-text-rgb), 0.2);
  --color-bg-5: rgba(var(--color-text-rgb), 0.25);
  --color-bg-6: rgba(var(--color-text-rgb), 0.3);
  --color-bg-7: rgba(var(--color-text-rgb), 0.35);
  --color-bg-8: rgba(var(--color-text-rgb), 0.4);
  --color-bg-9: rgba(var(--color-text-rgb), 0.45);
  --color-bg-10: rgba(var(--color-text-rgb), 0.5);
  --color-bg-1-solid: #{lighten(rgb(var(--color-bg-rgb)), 5%)};
  --color-bg-2-solid: #{lighten(rgb(var(--color-bg-rgb)), 10%)};
  --color-bg-3-solid: #{lighten(rgb(var(--color-bg-rgb)), 15%)};
  --color-bg-4-solid: #{lighten(rgb(var(--color-bg-rgb)), 20%)};
  --color-bg-5-solid: #{lighten(rgb(var(--color-bg-rgb)), 25%)};
  --color-bg-6-solid: #{lighten(rgb(var(--color-bg-rgb)), 30%)};
  --color-bg-7-solid: #{lighten(rgb(var(--color-bg-rgb)), 35%)};
  --color-bg-8-solid: #{lighten(rgb(var(--color-bg-rgb)), 40%)};
  --color-bg-9-solid: #{lighten(rgb(var(--color-bg-rgb)), 45%)};
  --color-bg-10-solid: #{lighten(rgb(var(--color-bg-rgb)), 50%)};

  // Text Levels
  --color-text-rgb: var(--color-white-rgb);
  --color-text-0: rgba(var(--color-text-rgb), 1);
  --color-text-1: rgba(var(--color-text-rgb), 0.9);
  --color-text-2: rgba(var(--color-text-rgb), 0.8);
  --color-text-3: rgba(var(--color-text-rgb), 0.7);
  --color-text-4: rgba(var(--color-text-rgb), 0.6);
  --color-text-5: rgba(var(--color-text-rgb), 0.5);
  --color-text-6: rgba(var(--color-text-rgb), 0.4);
  --color-text-7: rgba(var(--color-text-rgb), 0.3);
  --color-text-8: rgba(var(--color-text-rgb), 0.2);
  --color-text-9: rgba(var(--color-text-rgb), 0.1);
  --color-text-10: rgba(var(--color-text-rgb), 0.05);

  // Status
  --color-alert: rgb(57, 52, 4);
  --color-on-alert: rgb(235, 230, 188);

  --color-error: rgb(68, 25, 26);
  --color-on-error: rgb(238, 204, 204);

  --color-success: rgb(25, 68, 25);
  --color-on-success: rgb(178, 230, 178);

  --color-primary-rgb: 17, 24, 35;
  --color-primary-0: rgb(var(--color-primary-rgb));
  --color-primary-1: #{lighten(rgb(var(--color-primary-rgb)), 10%)};
  --color-primary-2: #{lighten(rgb(var(--color-primary-rgb)), 20%)};

  // Borders
  --brs-tiny: 1px;
  --brs-xsmall: 2px;
  --brs-small: 4px;
  --brs-medium: 8px;
  --brs-large: 16px;
  --brs-full: 10000em;
  --brs-round: 50%;

  // Transitions
  --trs-instant: 0.125s cubic-bezier(0.4, 0, 0.2, 1);
  --trs-quick: 0.175s ease-in-out;
  --trs-base: 0.3s ease-in-out;
  --trs-smooth: 0.6s ease-in-out;
  --trs-long: 1.2s ease-in-out;

  // Font
  --font-family-noto-sans-mono: 'Noto Sans Mono', monospace;
  --font-family-noto-sans: 'Noto Sans', sans-serif;

  // Weight
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
