.actions {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0.5em;
  list-style-type: none;
  justify-content: var(--_justifyContent);

  &.direction {
    &-row {
      flex-flow: row nowrap;
    }
    &-column {
      flex-flow: column nowrap;

      > * {
        width: 100%;
      }
    }
  }

  &.mobile-direction {
    &-column {
      @container (max-width: 499px) {
        flex-flow: column nowrap;
      }
    }

    &-row {
      @container (max-width: 499px) {
        flex-flow: row nowrap;
      }
    }
  }
}

.button {
  appearance: none;
  padding: 0.5em 1em;
  margin: 0;
  border-radius: var(--brs-small);
  background: var(--color-bg-3);
  border: 1px solid var(--color-bg-4);
  transition: background var(--trs-quick), border-color var(--trs-quick), scale var(--trs-quick);
  scale: 1 1;
  font-size: 14px;
  font-weight: var(--font-weight-light);
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  cursor: pointer;
  text-decoration: none;

  @container (max-width: 499px) {
    width: 100%;
  }

  &:focus-visible,
  &:hover,
  &:active {
    transition: background var(--trs-instant), scale var(--trs-instant);
  }

  &:focus-visible,
  &:hover {
    background: var(--color-bg-4);
  }

  &:active {
    scale: 1.05 1.05;
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
    background: var(--color-bg-1);
  }

  &.has-icon {
    .icon {
      --_size: 24px;
      width: var(--_size);
      height: var(--_size);
    }
  }

  &.icon-only {
    --_size: 30px;
    width: var(--_size);
    height: var(--_size);
    color: var(--color-text-rgb);
    border-radius: 50%;
    transition: scale var(--trs-instant);
    padding: 0.5em;

    &:hover,
    &:focus-visible {
      scale: 1.2;
    }

    svg {
      scale: var(--_scale, 1 1);
    }
  }
}
