@use '../utils/color-helpers' as *;

.dark {
  &.dark {
    --color-bg-rgb: var(--color-black-rgb);
    --color-text-rgb: var(--color-white-rgb);
  }
  background: var(--color-primary-0);
  color: var(--color-text-0);
  color-scheme: dark;
}

.light {
  &.light {
    --color-bg-rgb: var(--color-white-rgb);
    --color-text-rgb: var(--color-black-rgb);
    --color-bg-1-solid: #{darken(rgb(var(--color-bg-rgb)), 5%)};
    --color-bg-2-solid: #{darken(rgb(var(--color-bg-rgb)), 10%)};
    --color-bg-3-solid: #{darken(rgb(var(--color-bg-rgb)), 15%)};
    --color-bg-4-solid: #{darken(rgb(var(--color-bg-rgb)), 20%)};
    --color-bg-5-solid: #{darken(rgb(var(--color-bg-rgb)), 25%)};
    --color-bg-6-solid: #{darken(rgb(var(--color-bg-rgb)), 30%)};
    --color-bg-7-solid: #{darken(rgb(var(--color-bg-rgb)), 35%)};
    --color-bg-8-solid: #{darken(rgb(var(--color-bg-rgb)), 40%)};
    --color-bg-9-solid: #{darken(rgb(var(--color-bg-rgb)), 45%)};
    --color-bg-10-solid: #{darken(rgb(var(--color-bg-rgb)), 50%)};
  }

  background: var(--color-bg-0);
  color: var(--color-text-0);
  color-scheme: light;
}
