@use '../../utils/color-helpers' as *;

.tooltip {
  --_bg: var(--color-bg-3-solid);
  font-weight: var(--font-weight-light);
  color: var(--color-text-0);
  background: var(--_bg);
  font-size: 12px;

  :global {
    .tippy-arrow {
      color: var(--_bg);
    }
  }
}
