.splash {
  position: fixed;
  inset: 0;
  background: transparent;
  transition: backdrop-filter var(--trs-base), opacity var(--trs-base);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100svw;
  height: 100svh;
  backdrop-filter: blur(15px);

  &[hidden] {
    display: flex;
    backdrop-filter: blur(0px);
    pointer-events: none;

    .text {
      color: rgba(var(--color-text-rgb), 0);
      translate: 0 10px;
      opacity: 0;
    }
  }

  .text {
    color: var(--color-text-0);
    translate: 0 0;
    font-size: 24px;
    font-weight: var(--font-weight-light);
    transition: color var(--trs-quick), translate var(--trs-quick);
  }
}
